<div class="home-banner">
<h1>Add a new list</h1>
</div>

<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.submit "Create a new list", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
